@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Hi, @context.User.Identity.Name. Welcome to back! </h1>
        Let's admire <NavLink href="army">your beloved army.</NavLink>
    </Authorized>
    <NotAuthorized>
        <h1>Welcom to Blazor Battles!</h1>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>


