@page "/login"


@if (IsAuthenticated)
{
    <h3>Welcome, @user.Username!</h3>
}
else
{
    <h3>login</h3>
    <EditForm Model="@user" OnValidSubmit="HandelLogin">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <div class="form-group">
            <label for="username">UserName</label>
            <InputText id="username" @bind-Value="user.Username" class="form-control" />
         
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <InputText id="password" @bind-Value="user.Password" type="password" class="form-control" />

        </div>

        <button type="submit" class="btn btn-primary">Login</button>
        <ValidationSummary></ValidationSummary>
    </EditForm>

}


@code {
    private BlazorBattles50.Shared.UserLogin user = new BlazorBattles50.Shared.UserLogin();
    bool IsAuthenticated = false;
    private void HandelLogin()
    {
        Console.WriteLine($"{user.Username} // {user.Password}");
        IsAuthenticated = true;
    }
}
